page-perfil {
    .perfilFoto{
        width: 40% !important; 
        height: 40% !important;
        margin: 0 auto;
        border: solid 5px #EBF5EE;
        text-shadow: 5px #EBF5EE;
    }

    .perfilEmail{
        
    }
}
