
/*
.logo{
    width: 30%;
    height: 30%;
    margin: 0 auto;
}

.selectLabel{
    width: 100%;
}

.listaItem{
    width: 90%;
    height: 30%;
    float: right;
    font-size: 1.2em;
    border: none;
	outline: none;
}

option{
    font-size: 1em;
    border: none;
	outline: none;
}
*/

.menuFormatacao{
    text-align: left;
    font-size: 1em;
    color: black;
}
