
page-sobre {
    .sobre{
        background: url(../assets/img/sobre.jpg);
        .tituloApp{
            font-size: 2em;
            color: white;
            text-align: center;
            padding-top: 40%;
        }

        .versao{
            font-size: 1.2em;
            text-align: center;
            color: #D2D3D5;
            opacity: 0.5;
        }

        .logoSobre{
            max-width: 36%;
            max-height: 24%;
            margin: 0 auto;
            display: block;
            position: relative;
        }

        .copyright{
            font-size: 1.2em;
            text-align: center;
            color: white;
            opacity: 0.5;
        }
    }
}
