
page-dai {
    
}

.text{
    background-color: #FAFAFA;
}
.tituloFormato{
    color: #0D47A1;
    font-weight: 900;
    text-align: right;
}

.resumoFormato{
    color: gray !important;
    font-size: 1.2em !important;
    font-style: italic;
    text-align: right;
}


#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}

#slides_control {
    position:absolute;
    width: 400px;
    left:50%;
    top:20px;
    margin-left:-200px;
}