<ion-header>
  	<ion-navbar>
	    <button ion-button menuToggle>
	      	<ion-icon name="menu"></ion-icon>
	    </button>
    	<ion-title>DAI</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content>
	<ion-slides pager class="slidesTops">
	    <ion-slide *ngFor="let noticia of noticias | async">
		    <h2 class="slide-title"> {{noticia.titulo}}</h2>
		    <p> {{noticia.resumo}}</p>
	    </ion-slide>
  	</ion-slides>

	<hr/>
	<ion-card  class="text" *ngFor="let noticia of noticias | async" (click)="abrirNoticiasPage(noticia)">
		<ion-card-content>
			<ion-card-title class="tituloFormato">
				{{noticia.titulo}}
			</ion-card-title>
			<p class="resumoFormato">
				{{noticia.resumo}}
			</p>
		</ion-card-content>
	</ion-card>
</ion-content>
