
page-dai {
    
}

.text{
    background-color: #FAFAFA;
}
.tituloFormato{
    color: #0D47A1;
    font-weight: 900;
    text-align: right;
}

.resumoFormato{
    color: gray !important;
    font-size: 1.2em !important;
    font-style: italic;
    text-align: right;
}